*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body {
    position: relative;
background-color: rebeccapurple;
}

.main-cont {
    text-align: center;
    margin-top: 60px;
}

.main-cont h3 {
    font-size: 50px;
    font-family: lucida sans;
    color: white;
    font-weight: 900;
    text-align: center;
}

.main-cont p {
    font-size: 16px;
    font-family: calibri;
    color: white;
    font-weight: 300;
    font-style: italic;
}

.main-cont h4 {
    font-size: 30px;
    font-family: lucida sans;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.main-cont p {
    font-size: 16px;
    font-family: lucida sans;
    color: white;
    text-align: center;
    margin-top: 5px;
}

form{
    margin-top: 100px;
    margin-left:20.5%;
}

input {
    background: transparent;
    outline: none;
    padding: 10px;
    border:none;
    border-bottom: 3px solid white;
}

input::placeholder {
    color: white;
}

input:focus {
    background-color: rebeccapurple;
    color: white;
    border: 2px dotted white;
    border-radius: 5px ;
}

input:focus::placeholder {
    color: white;
}

button{
    outline: none;
    background: white;
    color: rebeccapurple;
    padding: 13px;
    border-radius: 15px;
    border: none;
}

/*Styling the Footer Elements*/

footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    margin-bottom: 15px ;
}
.footer-nav {
    margin-left: 10px;
}

 .footer-nav  ul{
    margin: 0px auto 0px;
}
 .footer-nav  ul li {
    list-style-type: none;
    display: inline-block;
    float: left;
    padding: 0px 20px;
    margin: 0 auto;
    line-height: 20px;

}
 .footer-nav  ul li a {
    color: white;
    display: block;
    font-size: 14px;
}

.footer-nav::after {
    content: " ";
    clear: both;
    display: block;
}

.footer-copyright{
    width: 100%;
    text-align: center;
}
.footer-copyright p {
    color: white;
}

@media only screen and (min-width: 768px) {

    .main-cont {
        text-align: center;
        margin-top: 150px;
        margin-left: 20%
    }

    .main-cont h3 {
        font-size: 70px;
 }

    .main-cont p {
        font-size: 18px;
        font-family: cursive;

    }

    .main-cont h4 {
        font-size: 40px;
    }

    .main-cont p{
        font-size: 20px;
        font-family: cursive;

    }

    form{
        margin-top: 200px;
        margin-left: 43%;
    } 

    input{
        width: 250px;
    }
    input::placeholder {
        color: white;
        font-size: 18px;
    }

    button {
        width: 100px;
    }
    

    footer {
        margin-left: 10% ;
    }

    .footer-nav {
    margin-top: 90px;
    margin-left: 9% ;
    width: 100%;
}

.footer-nav  ul li a {
    color: white;
    display: block;
    font-size: 30px;
    font-family: cursive;

}

.footer-copyright{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    font-family: cursive;
}

@media only screen and (min-width: 1000px) {
    .main-cont {
      text-align: center;
       margin:50px auto 0;
    }

    .main-cont h3 {
        font-size: 40px;
 }

    .main-cont p {
        font-size: 16px;
        font-family: cursive;

    }

    .main-cont h4 {
        font-size: 40px;
    }

    .main-cont p{
        font-size: 16px;
        font-family: cursive;

    }

    form{
        margin-left: 39%;
        margin-top: 5%;
    } 

    footer {
        margin-left: 10% ;
    }

    .footer-nav {
    margin-top: 90px;
    margin-left: 25% ;
    width: 100%;
    }

.footer-nav  ul li a {
    color: white;
    display: block;
    font-size: 20px;
    font-family: cursive;

}

.footer-copyright p { 
  display: none;
}

}